body {
  background-color: #fffff0; }

.button {
  width: 100%;
  margin: 5%; }

.message {
  color: white; }

.category {
  text-align: center;
  color: #500006; }

.category:hover {
  color: white;
  cursor: pointer;
  background-color: #500006; }

.faqLink:hover {
  color: white;
  cursor: pointer; }

#about {
  font-size: 32px; }

.jumbotron {
  color: black; }

#mainHeader {
  text-align: center; }

#r2c1 {
  padding: 2%;
  background-color: #500006;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  color: #c49344; }

#row1 {
  color: darkgrey; }

#contactSection {
  color: darkgrey; }

/*# sourceMappingURL=exPerson.css.map */
