$white: white;
$background-color: #c49344;;
$primary-color: #500006;
$secondary-color: darkgrey;
$message-color: white;

body {
  background-color: $background-color;
   }

.button {
  width: 100%;
  margin: 5%; }

.message {
  color: $message-color; }
.category{
  text-align: center;
  color: $primary-color;
}
.category:hover {
  color: $white;
  cursor: pointer;
  background-color: $primary-color;
}
.faqLink:hover {
   color: $white;
  cursor: pointer;
}
.listing {
  //max-height: 200px;
}
#about {
  font-size: 32px;

}
.jumbotron 
{
color: black;
}
#mainHeader {
  text-align: center;
}

#r2c1 
{
  padding: 2%;
  background-color: $primary-color;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  color: $background-color; 
  }

#row1 
{
  color: $secondary-color; 
  }

#contactSection 
{
  color: $secondary-color;
   }